:root,
[data-bs-theme="light"] {
  --bs-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --bs-box-shadow-sm: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --bs-box-shadow-lg: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.ag-theme-quartz {
  --ag-grid-size: 3px; /* very compact */
  --ag-font-size: 10px;
}

.recharts-surface {
  overflow: visible;
}

/*! CSS Used from: https://getbootstrap.com/docs/5.3/assets/css/docs.css */
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}
.grid {
  display: grid;
  grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
  grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
  gap: var(--bs-gap, 1.5rem);
}
.grid .g-col-2 {
  grid-column: auto/span 2;
}
.grid .g-col-3 {
  grid-column: auto/span 3;
}
.grid .g-col-4 {
  grid-column: auto/span 4;
}
.grid .g-col-6 {
  grid-column: auto/span 6;
}
.grid .g-start-2 {
  grid-column-start: 2;
}
.grid .g-start-3 {
  grid-column-start: 3;
}
.grid .g-start-6 {
  grid-column-start: 6;
}
@media (min-width: 768px) {
  .grid .g-col-md-4 {
    grid-column: auto/span 4;
  }
}
:root,
[data-bs-theme="light"] {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;
  --bd-teal-rgb: 32, 201, 151;
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bd-violet);
  --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), 0.1);
  --bd-callout-link: 10, 88, 202;
  --bd-callout-code-color: #ab296a;
  --bd-pre-bg: var(--bs-tertiary-bg);
}
.bd-navbar {
  padding: 0.75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}
.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(
    rgba(var(--bd-violet-rgb), 1),
    rgba(var(--bd-violet-rgb), 0.95)
  );
}
@media (max-width: 991.98px) {
  .bd-navbar .bd-navbar-toggle {
    width: 4.25rem;
  }
}
.bd-navbar .navbar-toggler {
  padding: 0;
  margin-right: -0.5rem;
  border: 0;
}
.bd-navbar .navbar-toggler:first-child {
  margin-left: -0.5rem;
}
.bd-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem;
}
.bd-navbar .navbar-toggler:focus {
  box-shadow: none;
}
.bd-navbar .navbar-brand {
  color: #fff;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .bd-navbar .navbar-brand {
    transition: none;
  }
}
.bd-navbar .navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1);
}
.bd-navbar .navbar-toggler,
.bd-navbar .nav-link {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  color: rgba(255, 255, 255, 0.85);
}
.bd-navbar .navbar-toggler:hover,
.bd-navbar .navbar-toggler:focus,
.bd-navbar .nav-link:hover,
.bd-navbar .nav-link:focus {
  color: #fff;
}
.bd-navbar .nav-link.active {
  font-weight: 600;
  color: #fff;
}
.bd-navbar .navbar-nav-svg {
  display: inline-block;
  vertical-align: -0.125rem;
}
.bd-navbar .offcanvas-lg {
  background-color: var(--bd-violet-bg);
  border-left: 0;
}
@media (max-width: 991.98px) {
  .bd-navbar .offcanvas-lg {
    box-shadow: var(--bs-box-shadow-lg);
  }
}
.bd-navbar .dropdown-toggle:focus:not(:focus-visible) {
  outline: 0;
}
.bd-navbar .dropdown-menu {
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: 0.25rem;
  --bs-dropdown-padding-y: 0.25rem;
  --bs-dropdown-link-hover-bg: rgba(var(--bd-violet-rgb), 0.1);
  --bs-dropdown-link-active-bg: rgba(var(--bd-violet-rgb), 1);
  --bs-dropdown-font-size: 0.875rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  box-shadow: var(--bs-box-shadow);
}
.bd-navbar .dropdown-menu li + li {
  margin-top: 0.125rem;
}
.bd-navbar .dropdown-menu .dropdown-item {
  border-radius: 0.25rem;
}
.bd-navbar .dropdown-menu .dropdown-item:active .bi {
  color: inherit !important;
}
.bd-navbar .dropdown-menu .active {
  font-weight: 600;
}
.bd-navbar .dropdown-menu .active .bi {
  display: block !important;
}
.bd-navbar .dropdown-menu-end {
  --bs-dropdown-min-width: 8rem;
}
:root {
  --docsearch-primary-color: var(--bd-violet);
  --docsearch-logo-color: var(--bd-violet);
}
.bd-search {
  position: relative;
}
@media (min-width: 992px) {
  .bd-search {
    position: absolute;
    top: 0.875rem;
    left: 50%;
    width: 200px;
    margin-left: -100px;
  }
}
@media (min-width: 1200px) {
  .bd-search {
    width: 280px;
    margin-left: -140px;
  }
}
.DocSearch-Button {
  --docsearch-searchbox-background: rgba(0, 0, 0, 0.1);
  --docsearch-searchbox-color: #fff;
  --docsearch-searchbox-focus-background: rgba(0, 0, 0, 0.25);
  --docsearch-searchbox-shadow: 0 0 0 0.25rem rgba(255, 228, 132, 0.4);
  --docsearch-text-color: #fff;
  --docsearch-muted-color: rgba(255, 255, 255, 0.65);
  width: 100%;
  height: 38px;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.375rem;
}
.DocSearch-Button .DocSearch-Search-Icon {
  opacity: 0.65;
}
.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  border-color: #ffe484;
}
.DocSearch-Button:active .DocSearch-Search-Icon,
.DocSearch-Button:focus .DocSearch-Search-Icon,
.DocSearch-Button:hover .DocSearch-Search-Icon {
  opacity: 1;
}
@media (max-width: 991.98px) {
  .DocSearch-Button,
  .DocSearch-Button:hover,
  .DocSearch-Button:focus {
    background: transparent;
    border: 0;
    box-shadow: none;
  }
  .DocSearch-Button:focus {
    box-shadow: var(--docsearch-searchbox-shadow);
  }
}
@media (max-width: 991.98px) {
  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none;
  }
}
.DocSearch-Button-Keys {
  min-width: 0;
  padding: 0.125rem 0.25rem;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
}
.DocSearch-Button-Key {
  top: 0;
  width: auto;
  height: 1.25rem;
  padding-right: 0.125rem;
  padding-left: 0.125rem;
  margin-right: 0;
  font-size: 0.875rem;
  background: none;
  box-shadow: none;
}
#carbonads {
  position: static;
  display: block;
  max-width: 400px;
  padding: 15px 15px 15px 160px;
  margin: 2rem 0;
  overflow: hidden;
  font-size: 0.8125rem;
  line-height: 1.4;
  text-align: left;
  background-color: var(--bs-tertiary-bg);
}
#carbonads a {
  color: var(--bs-body-color);
  text-decoration: none;
}
@media (min-width: 576px) {
  #carbonads {
    border-radius: 0.5rem;
  }
}
.carbon-img {
  float: left;
  margin-left: -145px;
}
.carbon-poweredby {
  display: block;
  margin-top: 0.75rem;
  color: var(--bs-body-color) !important;
}
.bd-content > h2,
.bd-content > h3 {
  --bs-heading-color: var(--bs-emphasis-color);
}
.bd-content > h2:not(:first-child) {
  margin-top: 3rem;
}
.bd-content > h3 {
  margin-top: 2rem;
}
.bd-content > ul li {
  margin-bottom: 0.25rem;
}
.bd-content > .table-responsive .table {
  --bs-table-border-color: var(--bs-border-color);
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}
.bd-content > .table-responsive .table thead {
  border-bottom: 2px solid currentcolor;
}
.bd-content > .table-responsive .table tbody:not(:first-child) {
  border-top: 2px solid currentcolor;
}
.bd-content > .table-responsive .table th:first-child,
.bd-content > .table-responsive .table td:first-child {
  padding-left: 0;
}
.bd-content > .table-responsive .table th:not(:last-child),
.bd-content > .table-responsive .table td:not(:last-child) {
  padding-right: 1.5rem;
}
.bd-content > .table-responsive .table th {
  color: var(--bs-emphasis-color);
}
.bd-content > .table-responsive .table th,
.bd-content > .table-responsive .table td:first-child > code {
  white-space: nowrap;
}
.bd-title {
  --bs-heading-color: var(--bs-emphasis-color);
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  .bd-title {
    font-size: 3rem;
  }
}
.bd-lead {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 300;
}
@media (min-width: 1200px) {
  .bd-lead {
    font-size: 1.5rem;
  }
}
.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}
.skippy {
  background-color: #4c0bce;
}
.skippy a {
  color: #fff;
}
@media (min-width: 992px) {
  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .bd-sidebar .offcanvas-lg {
    border-right-color: var(--bs-border-color);
    box-shadow: var(--bs-box-shadow-lg);
  }
}
.bd-links-heading {
  color: var(--bs-emphasis-color);
}
@media (max-width: 991.98px) {
  .bd-links-nav {
    font-size: 0.875rem;
  }
}
@media (max-width: 991.98px) {
  .bd-links-nav {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
  .bd-links-nav .bd-links-group {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
  .bd-links-nav .bd-links-span-all {
    -moz-column-span: all;
    column-span: all;
  }
}
.bd-links-link {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.125rem;
  color: var(--bs-body-color);
  text-decoration: none;
}
.bd-links-link:hover,
.bd-links-link:focus,
.bd-links-link.active {
  color: var(--bs-emphasis-color);
  background-color: var(--bd-sidebar-link-bg);
}
.bd-links-link.active {
  font-weight: 600;
}
.bd-gutter {
  --bs-gutter-x: 3rem;
}
@media (min-width: 992px) {
  .bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
  }
}
.bd-sidebar {
  grid-area: sidebar;
}
.bd-main {
  grid-area: main;
}
@media (max-width: 991.98px) {
  .bd-main {
    max-width: 760px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .bd-main {
    display: grid;
    grid-template-areas: "intro" "toc" "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }
}
@media (min-width: 992px) {
  .bd-main {
    grid-template-areas: "intro   toc" "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }
}
.bd-intro {
  grid-area: intro;
}
.bd-toc {
  grid-area: toc;
}
.bd-content {
  grid-area: content;
  min-width: 1px;
}
@media (min-width: 992px) {
  .bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
  }
}
.bd-toc nav {
  font-size: 0.875rem;
}
.bd-toc nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.bd-toc nav ul ul {
  padding-left: 1rem;
}
.bd-toc nav a {
  display: block;
  padding: 0.125rem 0 0.125rem 0.75rem;
  color: inherit;
  text-decoration: none;
  border-left: 0.125rem solid transparent;
}
.bd-toc nav a:hover,
.bd-toc nav a.active {
  color: var(--bd-toc-color);
  border-left-color: var(--bd-toc-color);
}
.bd-toc nav a.active {
  font-weight: 500;
}
.bd-toc-toggle {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .bd-toc-toggle {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .bd-toc-toggle {
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
  .bd-toc-toggle:hover,
  .bd-toc-toggle:focus,
  .bd-toc-toggle:active {
    color: var(--bd-violet);
    background-color: var(--bs-body-bg);
    border-color: var(--bd-violet);
  }
  .bd-toc-toggle:focus {
    box-shadow: 0 0 0 3px rgba(var(--bd-violet-rgb), 0.25);
  }
}
@media (max-width: 767.98px) {
  .bd-toc-collapse nav {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
    background-color: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
}
@media (min-width: 768px) {
  .bd-toc-collapse {
    display: block !important;
  }
}
.bd-footer a {
  color: var(--bs-body-color);
  text-decoration: none;
}
.bd-footer a:hover,
.bd-footer a:focus {
  color: var(--bs-link-hover-color);
  text-decoration: underline;
}
.bd-code-snippet {
  margin: 0 -1.5rem 1rem;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}
@media (min-width: 768px) {
  .bd-code-snippet {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: var(--bs-border-radius);
  }
}
.bd-example {
  --bd-example-padding: 1rem;
  position: relative;
  padding: var(--bd-example-padding);
  margin: 0 -1.5rem 1rem;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}
.bd-example::after {
  display: block;
  clear: both;
  content: "";
}
@media (min-width: 768px) {
  .bd-example {
    --bd-example-padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: var(--bs-border-radius);
  }
}
.bd-example > :last-child {
  margin-bottom: 0;
}
.bd-example-cssgrid [class*="grid"] > * {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(var(--bd-violet-rgb), 0.15);
  border: 1px solid rgba(var(--bd-violet-rgb), 0.3);
}
.highlight {
  position: relative;
  padding: 0.75rem 1.5rem;
  background-color: var(--bd-pre-bg);
}
@media (min-width: 768px) {
  .highlight {
    padding: 0.75rem 1.25rem;
    border-radius: calc(var(--bs-border-radius) - 1px);
  }
}
@media (min-width: 992px) {
  .highlight pre {
    margin-right: 1.875rem;
  }
}
.highlight pre {
  padding: 0.25rem 0 0.875rem;
  margin-top: 0.8125rem;
  margin-bottom: 0;
  overflow: overlay;
  white-space: pre;
  background-color: transparent;
  border: 0;
}
.highlight pre code {
  font-size: inherit;
  color: var(--bs-body-color);
  word-wrap: normal;
}
.bd-example-snippet .highlight pre {
  margin-right: 0;
}
.highlight-toolbar {
  background-color: var(--bd-pre-bg);
}
.highlight-toolbar + .highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bd-content .bd-code-snippet {
  margin-bottom: 1rem;
}
.btn-bd-light {
  --btn-custom-color: #9461fb;
  --bs-btn-color: var(--bs-gray-600);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: var(--btn-custom-color);
  --bs-btn-hover-border-color: var(--btn-custom-color);
  --bs-btn-active-color: var(--btn-custom-color);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--btn-custom-color);
  --bs-btn-focus-border-color: var(--btn-custom-color);
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
}
.bd-callout {
  --bs-link-color-rgb: var(--bd-callout-link);
  --bs-code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
.bd-callout > :last-child {
  margin-bottom: 0;
}
.bd-callout-warning {
  --bd-callout-color: var(--bs-warning-text-emphasis);
  --bd-callout-bg: var(--bs-warning-bg-subtle);
  --bd-callout-border: var(--bs-warning-border-subtle);
}
.btn-clipboard,
.btn-edit {
  display: block;
  padding: 0.5em;
  line-height: 1;
  color: var(--bs-body-color);
  background-color: var(--bd-pre-bg);
  border: 0;
  border-radius: 0.25rem;
}
.btn-clipboard:hover,
.btn-edit:hover {
  color: var(--bs-link-hover-color);
}
.btn-clipboard:focus,
.btn-edit:focus {
  z-index: 3;
}
.btn-clipboard {
  position: relative;
  z-index: 2;
  margin-top: 1.25rem;
  margin-right: 0.75rem;
}
main a,
main button,
main h2,
main h3,
main [tabindex="0"] {
  scroll-margin-top: 80px;
  scroll-margin-bottom: 100px;
}
:root,
[data-bs-theme="light"] {
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #666;
  --base05: #333;
  --base06: #fff;
  --base07: #13795b;
  --base08: #c6303e;
  --base09: #087990;
  --base0A: #6f42c1;
  --base0B: #084298;
  --base0C: #084298;
  --base0D: #6f42c1;
  --base0E: #ab296a;
  --base0F: #333;
}
.o {
  color: var(--base05);
}
.p {
  color: var(--base05);
}
.s {
  color: var(--base0C);
}
.na {
  color: var(--base0A);
}
.nt {
  color: var(--base08);
}
.anchor-link {
  padding: 0 0.175rem;
  font-weight: 400;
  color: rgba(13, 110, 253, 0.5);
  text-decoration: none;
  opacity: 0;
  transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .anchor-link {
    transition: none;
  }
}
.anchor-link::after {
  content: "#";
}
.anchor-link:focus,
.anchor-link:hover {
  color: #0d6efd;
  text-decoration: none;
  opacity: 1;
}
